{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - {{white_label_company_name}} Dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="{% if white_label_company.icon %}{{white_label_company.icon.url}} {% else %}{% static 'favicons/apple-touch-icon.png' %}{% endif %}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{% if white_label_company.icon %}{{white_label_company.icon.url}} {% else %}{% static 'favicons/favicon-32x32.png' %}{% endif %}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{% if white_label_company.icon %}{{white_label_company.icon.url}} {% else %}{% static 'favicons/favicon-16x16.png' %}{% endif %}">
    <link rel="stylesheet" href="{% static '/build/css/style.min.css' %}" />
</head>

<body>
    <div id="main">
        <div class="oh-alert-container">
            {% for message in messages %}
            <div class="oh-alert oh-alert--animated {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        <main class="oh-auth">
            <div class="oh-auth-card mb-4">
                <h1 class="oh-onboarding-card__title oh-onboarding-card__title--h2 text-center my-3">
                    {% trans "Sign In" %}
                </h1>
                <p class="text-muted text-center">
                    {% trans "Please login to access the dashboard." %}
                </p>
                <form method="post" class="oh-form-group">
                    {% csrf_token %}
                    <div class="oh-input-group">
                        <label class="oh-label" for="username">{% trans "Username" %}</label>
                        <input type="text" id="username" name="username" class="oh-input w-100"
                            placeholder="Enter your username" />
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label" for="password">{% trans "Password" %}</label>
                        <div class="oh-password-input-container">
                            <input type="password" id="password" name="password"
                                class="oh-input oh-input--password w-100" placeholder="Enter your password" />
                        </div>
                    </div>
                    <button type="submit"
                        class="oh-btn oh-onboarding-card__button mt-4 oh-btn--secondary oh-btn--shadow w-100 mb-4"
                        role="button">
                        {% trans "Secure Sign-in" %}
                    </button>
                </form>
            </div>
            {% comment %} Logo removed for rebranding {% endcomment %}
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="module"  src="{% static 'images/ionicons/ui_icons/ionicons/ionicons.esm.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>
